[submodule "bench/schemes/mldsa/ref"]
	path = bench/schemes/mldsa/ref
	url = https://github.com/pq-crystals/dilithium.git

[submodule "bench/schemes/slhdsa/ref"]
	path = bench/schemes/slhdsa/ref
	url = https://github.com/pq-code-package/slhdsa-c
[submodule "bench/schemes/fndsa/ref"]
	path = bench/schemes/fndsa/ref
	url = https://github.com/pornin/c-fn-dsa
[submodule "bench/schemes/hawk/ref"]
	path = bench/schemes/hawk/ref
	url = https://github.com/hawk-sign/dev
